$BgPrimary: #fafafa;
$BgSecondary: #f0f3f6;
$FgPrimary: #8c9ba5;
$FgSecondary: #5a6872;
$SubmitPrimary: #4494fb;
$SubmitSecondary: #3e6eb0;
$ActionPrimary: #845df5;
$ActionSecondary: #6432e4;
$DetailPrimary: #3dd6c4;
$DetailSecondary: #13aa98;
$Outline: #5a6872;
$MainTitle: #152934;